<div class="banner_bottom_agile_info">
    <h3 class="wthree_text_info">Add <span>Product</span></h3>

    <div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" ng-submit="addProduct()">
				<div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Product Name">
					<span class="label-input100">TITLE OF THE PRODUCT *</span>
					<input class="input100" type="text" name="name" ng-model="title" placeholder="Enter the Name of the Product" required>
				</div>
				<div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your Price">
					<span class="label-input100">PRICE *</span>
					<input class="input100" type="number" name="price" ng-model="price" placeholder="Enter Your Price " required>
				</div>
				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">QUANTITY </span>
					<input class="input100" type="number" name="quantity" ng-model="quantity" placeholder="Enter Number" required>
				</div>

				<div class="wrap-input100 input100-select bg1">
					<span class="label-input100">CATEGORY *</span>
					<div>
						<select ng-model="category" class="js-select2" name="service" required>
							<option selected>Choose Category</option>
							<option id="show" ng-repeat="category in categories" value="{{category._id}}">{{category.title}}</option>
						</select>
						<div class="dropDownSelect2"></div>
					</div>
				</div>

				<div class="wrap-input100 validate-input bg0 rs1-alert-validate" data-validate = "Please Type Your Message">
					<span class="label-input100">Description</span>
					<textarea class="input100" name="description" ng-model="description" placeholder="Describe your product here..." required></textarea>
				</div>

                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Upload files</strong> <small> </small></div>
                    <div class="panel-body">
                        <div class="input-group image-preview">
                            <input placeholder="" type="text" class="form-control image-preview-filename" disabled="disabled">
                            <!-- don't give a name === doesn't send on POST/GET --> 
                            <span class="input-group-btn"> 
                            <!-- image-preview-clear button -->
                            <button type="button" class="btn btn-default image-preview-clear" style="display:none;"> <span class="glyphicon glyphicon-remove"></span> Clear </button>
                            <!-- image-preview-input -->
                            <div class="btn btn-default image-preview-input"> <span class="glyphicon glyphicon-folder-open"></span> <span class="image-preview-input-title">Browse</span>
                                <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/>
                                <!-- rename it --> 
                            </div>
                            <button type="button" id="cancel" class="btn btn-labeled btn-primary"> <span class="btn-label"><i class="glyphicon glyphicon-remove-circle"></i> </span>Cancel</button>
                            </span>
                        </div>
                        <!-- /input-group image-preview [TO HERE]-->
                        <br />
                        <img id="myImg" class="upload-drop-zone" src="#" alt="Image File Upload here" />
                        <!-- Drop Zone
                        <div class="upload-drop-zone" id="drop-zone"> Or drag and drop files here </div>
                        <br /> -->
                    </div>
                </div>
				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>Submit <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i></span>
					</button>
				</div>
			</form>
		</div>
	</div>



</div>

<script>
$(function () {
    $(":file").change(function () {
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = imageIsLoaded;
            reader.readAsDataURL(this.files[0]);
        }
    });
});

$("#cancel").click(function () {    
    $('#myImg').attr('src','');
});

function imageIsLoaded(e) {
    console.log("alert");
    $('#myImg').attr('src', e.target.result);
};
</script>

