<div class="banner-bootom-w3-agileits">
    <div class="container">
        <!--728x90-->
        <div class="col-md-4 single-right-left ">
            <div class="grid images_3_of_2">
                <div class="flexslider">
                    <div class="clearfix"></div>
                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
                        <div class="slides_controls">
                            <div>
                              <carousel interval="myInterval">
                                <slide ng-repeat="slide in product.images" active="slide.active">
                                  <img ng-src="{{slide.path}}">
                                </slide>
                              </carousel>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-8 single-right-left simpleCart_shelfItem">
            <h3 ng-bind="product.title"></h3>
            <p><span class="item_price" ng-bind="(product.price | currency:$)"></span></p>
            <ul class="social-nav model-3d-0 footer-social w3_agile_social single_page_w3ls">
                <li class="share">Share On : </li>
                <li>
                    <a href="#" class="facebook">
                        <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="twitter">
                        <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="instagram">
                        <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="pinterest">
                        <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
        <div class="responsive_tabs_agileits">
            <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                <ul class="resp-tabs-list">
                    <li class="resp-tab-item {{descactive}}" aria-controls="tab_item-0" ng-click="showTab('description')">Description</li>
                    <li class="resp-tab-item {{otheractive}}" aria-controls="tab_item-0" ng-click="showTab('information')">Other Information</li>
                </ul>
                <div class="resp-tabs-container">
                    <div class="tab1 resp-tab-content" ng-show="curtab=='description'">
                        <div class="single_page_agile_its_w3ls">
                            <p class="w3ls_para" ng-bind="product.description"></p>
                        </div>
                    </div>
                    <div class="tab2 resp-tab-content" ng-show="curtab=='information'">
                        <div class="single_page_agile_its_w3ls">
                            <div class="bootstrap-tab-text-gridss">
                                <div class="bootstrap-tab-text-grid-left">
                                    <img src="/assets/images/atomix_user31.png" alt=" " class="img-responsive">
                                </div>
                                <div class="bootstrap-tab-text-grid-right">
                                    <p class="w3ls_para">
                                        <span>Uploaded By : {{product.owner.name}}</span><br>
                                        <span>Category : {{product.category.title}}</span><br>
                                        <span ng-bind="avail"></span>
                                    </p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- More from User-->
        <div class="w3_agile_latest_arrivals" ng-show="(similar_by_user | count) > 0">
            <h4 class="wthree_text_info">More <span>From User</span></h4>
            <div class="col-md-3 product-men single" ng-repeat="each in similar_by_user">
                <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                        <img src="{{product.images[0].path}}" alt="{{each.title}}" class="pro-image-front">
                        <img src="{{product.images[1].path}}" alt="{{each.title}}" class="pro-image-back">
                        <div class="men-cart-pro">
                            <div class="inner-men-cart-pro">
                                <a href="/product/{{each._id}}" class="link-product-add-cart">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="item-info-product ">
                        <h4><a href="single.html">{{each.title}}</a></h4>
                        <div class="info-product-price">
                            <span class="item_price" ng-bind="(each.price | currency:$)"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <!-- More from Category-->
        <div class="w3_agile_latest_arrivals" ng-show="(similar_by_category | count) > 0">
            <h4 class="wthree_text_info">More <span>From Category</span></h4>
            <div class="col-md-3 product-men single" ng-repeat="each in similar_by_category">
                <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                        <img src="{{product.images[0].path}}" alt="{{each.title}}" class="pro-image-front">
                        <img src="{{product.images[1].path}}" alt="{{each.title}}" class="pro-image-back">
                        <div class="men-cart-pro">
                            <div class="inner-men-cart-pro">
                                <a href="/product/{{each._id}}" class="link-product-add-cart">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="item-info-product ">
                        <h4><a href="single.html">{{each.title}}</a></h4>
                        <div class="info-product-price">
                            <span class="item_price" ng-bind="(each.price | currency:$)"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>