<div class="banner_bottom_agile_info">
    <h3 class="wthree_text_info">My <span>Profile</span></h3>
    <div class="container">
        <div class="sexytabs">
            <ul>
                <li ng-class="basicinfoactive"><a href="javascript:void(0)" ng-click="openTab('basic')">
                    <span>Basic Information</span></a>
                </li>
                <li ng-class="addressactive"><a href="javascript:void(0)" ng-click="openTab('address')">
                    <span>Address</span></a>
                </li>
                <li ng-class="documentactive"><a href="javascript:void(0)" ng-click="openTab('document')">
                    <span>Documents</span></a>
                </li>
            </ul>
            <div class="contents">
                <div id="Beyonce" ng-show="activeTab == 'basic'">
                    <div class="col-md-6 contact-form">
                        <form action="#" method="post">
                            <div class="styled-input agile-styled-input-top">
                                <input type="text" ng-model="user.firstname" value="{{user.firstname}}">
                                <label>Name</label>
                                <span></span>
                            </div>
                            <div class="styled-input">
                                <input type="email" name="Email"> 
                                <label>Email</label>
                                <span></span>
                            </div> 
                            <div class="styled-input">
                                <input type="text" name="Subject">
                                <label>Subject</label>
                                <span></span>
                            </div>
                            <div class="styled-input">
                                <textarea name="Message"></textarea>
                                <label>Message</label>
                                <span></span>
                            </div>
                            <input type="submit" value="SEND">
                        </form>
                    </div>
                    <div class="col-md-6"><img src="{{user.image}}" class="img-responsive"></div>
                </div>
                <div id="Fergie" ng-show="activeTab == 'address'">
                    Address appears
                </div>
                <div id="Rihanna" ng-show="activeTab == 'document'">
                    Documents appear
                </div>
            </div>
        </div>
    </div>
</div>