<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Gentelella Alela! | </title>
        <!-- Bootstrap -->
        <% include includes/css %>
    </head>
    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>CraigList</span></a>
                        </div>
                        <div class="clearfix"></div>
                        <!-- menu profile quick info -->
                        <div class="profile clearfix">
                            <div class="profile_pic">
                                <img src="./../assets/admin/images/img.jpg" alt="..." class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                                <span>Welcome,</span>
                                <h2>John Doe</h2>
                            </div>
                        </div>
                        <!-- /menu profile quick info -->
                        <br />
                        <!-- sidebar menu -->
                        <!-- <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <h3>General</h3>
                                <ul class="nav side-menu">
                                    <li>
                                        <a href="/admin/profile"><i class="fa fa-home"></i> Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="/admin/products"><i class="fa fa-shopping-cart"></i> Products</a>
                                    </li>
                                    <li>
                                        <a href="/admin/users"><i class="fa fa-users"></i> Users</a>
                                    </li>
                                    <li>
                                        <a href="/admin/auctions"><i class="fa fa-bullhorn"></i> Auctions</a>
                                    </li>
                                </ul>
                            </div>
                        </div> -->
                        <% include includes/sidebar %>
                        <!-- /sidebar menu -->
                        <!-- /menu footer buttons -->
                        <div class="sidebar-footer hidden-small">
                            <% include includes/footermenu %>
                        </div>
                        <!-- /menu footer buttons -->
                    </div>
                </div>
                <!-- top navigation -->
                <div class="top_nav">
                    <div class="nav_menu">
                        <% include includes/topbar %>
                    </div>
                </div>
                <!-- /top navigation -->
                <!-- page content -->
                <div class="right_col" role="main">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="dashboard_graph">
                                <div class="row x_title">
                                    <div class="col-md-6">
                                        <h3>All Users </h3>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="table-responsive">
                                <% if (users) { %>
                                    <table class="table table-striped jambo_table bulk_action">
                                        <thead>
                                            <tr class="headings">
                                                <th class="column-title">Create At </th>
                                                <th class="column-title">Username </th>
                                                <th class="column-title">Email </th>
                                                <th class="column-title">role </th>
                                                <th class="column-title no-link last"><span class="nobr">Action</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(var i=0; i < users.length; i++) { %>
                                                <tr>
                                                    <td><%= moment(users[i].created_at).format( 'MMM-DD-YYYY') %></td>
                                                    <td><%= users[i].username %></td>
                                                    <td><%= users[i].email %></td>
                                                    <td><%= users[i].role %></td>
                                                    <td><button type="button">Remove</button></td>
                                                </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /page content -->
                <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        </div>
        <!-- jQuery -->
        <% include includes/scripts %>
    </body>
</html>