<div class="header" id="home">
   <!-- <div>
        <ul>
            <li> <a href="javascript:void(0)" data-toggle="modal" data-target="#login"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Sign In </a></li>
            <li> <a href="javascript:void(0)" data-toggle="modal" data-target="#register" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Sign Up </a></li>
            <li><i class="fa fa-phone" aria-hidden="true"></i> Call : <span ng-bind="message"></span></li>
            <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com">info@example.com</a></li>
        </ul>
    </div> -->
</div>
<!-- //header -->
<!-- header-bot -->
<div class="header-bot">
    <div class="header-bot_inner_wthreeinfo_header_mid">
        <div class="col-md-4 header-middle">
            <form action="#" method="post">
                <input type="search" name="search" placeholder="Search here..." required="" style="height: 41px;margin-top: 10px;">
                <button type="submit" class="btn btn-info" style="width: 30px;height: 30px;border-left-width: 5px;border-bottom-width: 10px;border-top-width: 0px;padding-left: 0px;padding-right: 0px;border-right-width: 0px;"><i class="fa fa-search" aria-hidden="true" style="font-size:20px;padding-right: 5px;"></i></button>
                <!-- <input type="submit" value=" " style="width: 30px;height: 30px;"> -->
                <div class="clearfix"></div>
            </form>
        </div>
        <!-- header-bot -->
        <div class="col-md-4 logo_agile" style="left: 22px;">
            <h1 style="width: 404px;height: 110px;"><a href="/"><span>E</span>lite <span>B</span>uy <span>S</span>ell </a></h1>
        </div>
        <!-- header-bot -->
        <div class="translating sc-jbKcbu bMtOeh" role="button" data-test="cars" id="9" type="cars" data-reactid="91"><div class="sc-eHgmQL iAnSxx" type="margin" data-reactid="92"><div class="icon" data-reactid="93">
                <svg class="sc-bwzfXH eZxmlK" viewBox="0 0 24 24" width="24" height="24" data-reactid="94">
            </svg></div></div><div class="label" data-reactid="96"><span data-reactid="97">Cars</span></div></div>
        <div class="clearfix"></div>
    </div>
</div>

